[submodule "themes/after-dark"]
	path = themes/after-dark
	url = https://github.com/comfusion/after-dark.git
[submodule "themes/lanyon-hugo"]
	path = themes/lanyon-hugo
	url = https://github.com/tummychow/lanyon-hugo.git
