{{ $baseurl := .Site.BaseURL }}
<h1 class="site-title">
  <span class="base05">[</span><span class="base08">(un)</span><span class="base09">fo</span><span class="base0a">cu</span><span class="base0b">se</span><span class="base0c">d</span><span class="base0d"></span><span class="base05">]</span>
  <span class="base05">dev</span>
</h1>

<div class="hero-logo">
  <img src="{{ $baseurl }}img/base16-eighties.svg">
</div>

<div style="text-align: center;">
  Add your own "<code>layouts/partials/hero.html</code>" to replace this text.
</div>
